{% extends 'mgmt.html.twig' %}

{% block title %}Veranstaltung bearbeiten{% endblock %}

{% block body %}
    <h1>Veranstaltung bearbeiten</h1>

    {{ include('event_session/_form.html.twig') }}

    <a href="{{ path('app_event_session_index') }}">Zurück zur Übersicht</a>
    {{ include('event_session/_delete_form.html.twig') }}

{% endblock %}
