{% extends 'mgmt.html.twig' %}

{% block title %}Neue Veranstaltung{% endblock %}

{% block body %}
    <h1>Neue Veranstaltung anlegen</h1>

    {{ include('event_session/_form.html.twig') }}

    <a href="{{ path('app_event_session_index') }}">Zurück zur Übersicht</a>
{% endblock %}
