{% extends 'mgmt.html.twig' %}

{% block title %}Fragenkatalog{% endblock %}

{% block body %}
    <h1>Neue Frage erstellen</h1>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('app_question_index') }}">Zurück zur Übersicht</a>
{% endblock %}
