{% extends 'base.html.twig' %}

{% block title %}
    Starten Sie Ihr Quiz
{% endblock %}

{% block body %}
    <header>
        <h1 class="start">Nerd oder Normalo?!</h1>
    </header>
    <main>
        <a href="{{ path('app_quiz') }}" class="press-start">$ ./start.sh</a>
    </main>
{% endblock %}

