// assets/styles/global.scss

// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

$dark: #0f3249;
$warning: #facf7e;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

body {
}

footer {
  text-align: center;
  margin-bottom: 10px;
}

#binary {
  background-color: $dark;
  max-width: 120vw;
  max-height: 120vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  font-size:5vh;
  font-family: monospace;
  font-style: italic;
  line-height: 5vh;
  z-index: -999;
  overflow: hidden;
  color: lighten($dark, 5%);
  b {
    color: lighten($dark, 10%);
    font-weight: normal;
  }
}

h1.start {
  font-size: 7vw;
  background-color: #FFF;
  color: #000000;
  font-weight: bolder;
  padding: 3vw 3vw;
  display: inline-block;
  transform: rotate(-5deg);
  margin-top: 20vh;
  animation: 15s h1start linear infinite;
  margin-left: -5vw;
  line-height: 6vw;
  span {
    font-size: 3vw;
    color: #999999;
    display: block;
    margin-top: 2vw;
    line-height: 3vw;
    font-weight: lighter;
  }
}

@keyframes h1start {
  0% {
    margin-left: -5vw;
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
    margin-left: 5vw;
  }
}
$startcolor: #e1d25e;

a.press-start {
  font-size: 5vw;
  text-decoration: none;
  color: $startcolor;
  font-family: monospace;

  animation: 2s anim-blink ease-in-out infinite;
}

@keyframes anim-blink {
  0% {
    color: $startcolor;
  }
  50% {
    color: lighten($startcolor, 10%);
    text-shadow: 0 0 1vw lighten($startcolor, 10%);
  }
}

.powered-by {
  background-image: url("../images/patch-25trans.png");
  width: 150px;
  height: 50px;
  right: 10px;
  top: 10px;
  position:absolute;
}

#qrcode {
  width: 10vh;
  height: 10vh;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.question {
  font-size: 3vw;
  background-color: #FFF;
  color: #000000;
  font-weight: bolder;
  padding: 1vw 2vw;
}

.answer-btn {
  font-size: 2vw;
}