// assets/styles/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


body {
}

#binary {
  background-color: #0e345c;
  max-width: 120vw;
  max-height: 120vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  font-size:5vh;
  opacity: 10%;
  font-family: monospace;
  font-style: italic;
  line-height: 5vh;
  z-index: -999;
  overflow: hidden;
  color: #eee;
}

h1.start {
  font-size: 8vw;
  background-color: #FFF;
  color: #000000;
  font-weight: bolder;
  padding: 1vw 2vw;
  display: inline-block;
  transform: rotate(-5deg);
  margin-top: 20vh;
}

a.press-start {
  display: inline-block;
  font-size: 4vw;
  text-decoration: none;
  color: #e1d25e;
  font-family: monospace;
  text-align: center;
  text-shadow: 0 0 5px #CCC;
  animation: 2s anim-blink ease-in-out infinite;
  padding: 1rem;
}

@keyframes anim-blink {
  0% {
    color: #e1d25e;
  }
  50% {
    color: #d7ae18;
    text-shadow: 0 0 1px #FFF;
  }
}

.powered-by {
  background-image: url("../images/patch-25trans.png");
  width: 150px;
  height: 50px;
  right: 5px;
}

#qrcode {
  width: 8vh;
  height: 8vh;
  position: absolute;
  bottom: 50px;
  left: 50px;
}