{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block title %}
Los geht's
{% endblock %}

{% block footer %}
<div id="qrcode">
    <img src="{{ path('qr_svg', {'slug': quiz.slug}) }}" alt="{{ quiz.slug }}" />
</div>
{% endblock %}