{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="question">
                    {{ question.title }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
Los geht's
{% endblock %}

{% block footer %}
<div id="qrcode">
    <img src="{{ path('qr_svg', {'slug': quiz.slug}) }}" alt="{{ quiz.slug }}" />
</div>
{% endblock %}